<%= form_with(model: musician) do |form| %>
  <% if musician.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(musician.errors.count, "error") %> prohibited this musician from being saved:</h2>

      <ul>
        <% musician.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :genre, style: "display: block" %>
    <%= form.text_field :genre %>
  </div>

  <div>
    <%= form.label :daw, style: "display: block" %>
    <%= form.text_field :daw %>
  </div>

  <div>
    <%= form.label :experience, style: "display: block" %>
    <%= form.number_field :experience %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
